@using System.Security.Claims;
@model Mag.Areas.Admin.Models.Dto.Home.BannersDto
@{
    Layout = null;
}

<html lang="fa">

<head>
    <meta charset="UTF-8">
    @await Component.InvokeAsync("GeneralSettings",new{SecendPart="صفحه اصلی",NewsId=@ViewData["NewsId"]})
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/Layoutcss/HomeMainPage.css?v=1" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!--begin::Global Stylesheets Bundle(mوatory for all pages)-->
    <link href="~/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->


</head>

<body>

    <!--start nav-->
    <nav class="navbar navbar-midnight-blue">
        <ul>
            <li class="nav-item" style="background: transparent;">
                <a href="#" class="sidebar-icon" id="btn-sidebars">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </li>
            <li id="li-1">
                <div class="hashtag hashtag1">
                    هشتگ‌های داغ :‌
                </div>
            </li>
            @await Component.InvokeAsync("TagsInMainPage")
            <li>
                <div class="div-head">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("LayoutUser", new { Id = User.FindFirst(ClaimTypes.NameIdentifier).Value })
                    }
                    else
                    {
                        <button class="btn btn-log-in">
                            <i class="fa fal fa-search"></i>
                        </button>
                        <button class="btn btn-log-in">
                            <i class="fa fal fa-user-circle"></i>
                        </button>
                        <a href="/Account/Login" class="btn btn-log-in btn-none">ورود</a>
                        <button class="btn btn-log-in btn-none" style="padding: 0 !important;">/</button>
                        <a href="/Account/Register" class="btn btn-log-in btn-none">ثبت نام</a>

                    }
                </div>
            </li>
            <div class="row m-0" style="display: flex; flex-wrap: nowrap;" id="row-head">
            <li>
                <div class="hashtag hashtag1">
                    هشتگ‌های داغ :‌
                </div>
            </li>
            <li>
                <div class="hashtag-menu-nav">
                    <a class="hashtag" href="#">
                        #اخبار داغ تکنولوژی
                    </a>
                    <a class="hashtag" href="#">
                        #اپل
                    </a>
                    <a class="hashtag" href="#">
                        #مجله اینترنتی
                    </a>
                    <a class="hashtag" href="#">
                        #آموزش اپل
                    </a>
                    <a class="hashtag" href="#">
                        #اپل واچ
                    </a>
                    <a class="hashtag" href="#">
                        #مجله اپل
                    </a>
                </div>
            </li>
            </div>
        </ul>

    </nav>
    <!--end nav -->
    <!--start main sidebar-->
    <div id="sidebar" class="main-sidebar navbar-midnight-blue show-sidebar">
        <ul class="navbar-nav">
            <li class="nav-item nav-main">
                <a class="nav-link active" aria-current="page" href="#">
                    اپ استور ایرانی | سیبو
                </a>
            </li>
            @await Component.InvokeAsync("SidebarMainPage")
        </ul>
    </div>
    <!--end  main sidebar-->
    <!--HERE CONTENT -->
    <div class="container-fluid">
        <div class="content" id="content">
            <div class="banner-layout">
                <div class="row m-0">
                    <div class="col-12">
                        <a href="/@Model.Banner1PhotoLink">
                            <div class="banner-first">
                                <img src="@Model.Banner1Address">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="/@Model.Banner2PhotoLink">
                            <div class="banner banner-big">
                                <img src="@Model.Banner2Address">
                                <div class="p-banner">
                                    <p>@Model.Banner2PhotoText</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="/@Model.Banner3PhotoLink">
                                    <div class="banner">
                                        <img src="@Model.Banner3Address">
                                        <div class="p-banner">
                                            <p>
                                                @Model.Banner3PhotoText
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="/@Model.Banner4PhotoLink">
                                    <div class="banner">
                                        <img src="@Model.Banner4Address">
                                        <div class="p-banner">
                                            <p>
                                                @Model.Banner4PhotoText
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="/@Model.Banner5PhotoLink">
                                    <div class="banner">
                                        <img src="@Model.Banner5Address">
                                        <div class="p-banner">
                                            <p>
                                                @Model.Banner5PhotoText
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="/@Model.Banner6PhotoLink">
                                    <div class="banner">
                                        <img src="@Model.Banner6Address">
                                        <div class="p-banner">
                                            <p>
                                                @Model.Banner6PhotoText
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="underline underline-dark"></div>
    <div class="layout-sticky">
        <div class="sticky-div" id="myStickyDiv">
            <div class="item" style="background-color: #2899d5;">
                <img src="~/assets/media/Home/logo-sefid.png">
            </div>
            <a href="/Account/Login">
                <div class="item">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z" />
                    </svg>
                </div>
            </a>
            <div class="item">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                </svg>
            </div>
        </div>
        <div class="container card-news">
            <div class="row">
                <div class="col-lg-9">
                    @await Component.InvokeAsync("NineNewsForMainPage")
                </div>
                <div class="col-lg-3 adds">
                    @* <div class="gif">
                    <img src="images/iran-Server-ads.gif">
                    </div> *@

                    @await Component.InvokeAsync("FiveNewsThatHasVideo")

                    @* <div class="gif">
                    <img src="images/timekook-ads.gif">
                    </div> *@

                    @await Component.InvokeAsync("FiveTopNewsForMainPage")

                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>


    <!--begin::Javascript-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>

    <script src="~/assets/js/layoutjs/homemainpage.js"></script>
</body>
</html>