@model Mag.Areas.Admin.Models.Dto.Home.BannersDto
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="Banners">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <a href="@Model.Banner1PhotoLink">
                    <div class="card Banner1" style="background-image:url(../../../@Model.Banner1Address)">
                        <div class="content">
                            <p class="copy">@Model.Banner1PhotoText</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <a href="@Model.Banner2PhotoLink">
                    <div class="card Banner2" style="background-image:url(../../../@Model.Banner2Address)">
                        <div class="content">
                            <p class="copy">@Model.Banner2PhotoText</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <a href="@Model.Banner3PhotoLink">
                    <div class="card Banner3" style="background-image:url(../../../@Model.Banner3Address)">
                        <div class="content">
                            <p class="copy">@Model.Banner3PhotoText</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <a href="@Model.Banner4PhotoLink">
                            <div class="card Banner4" style="background-image:url(../../../@Model.Banner4Address)">
                                <div class="content">
                                    <p class="copy">@Model.Banner4PhotoText</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 ">
                        <a href="@Model.Banner5PhotoLink">
                            <div class="card Banner5" style="background-image:url(../../../@Model.Banner5Address)">
                                <div class="content">
                                    <p class="copy">@Model.Banner5PhotoText</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <a href="@Model.Banner6PhotoLink">
                            <div class="card Banner6" style="background-image:url(../../../@Model.Banner6Address)">
                                <div class="content">
                                    <p class="copy">@Model.Banner6PhotoText</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Model.Banner7PhotoLink">
                            <div class="card Banner7" style="background-image:url(../../../@Model.Banner7Address)">
                                <div class="content">
                                    <p class="copy">
                                        @Model.Banner7PhotoText
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>




@*-------------Line-------------*@
@*<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="row">
    <div class="col-md-1 col-sm-0 d-flex justify-content-center align-items-center" style="border: 1px solid #ccc!important;border-radius: 20px;font-size: 13px;">
    اخبار منتخب
    </div>
    <div class="col-md-10">
    <hr />
    </div>
    <div class="col-md-1 col-sm-0 d-flex justify-content-center align-items-center" style="border: 1px solid #ccc!important;border-radius: 20px;font-size: 11px;">
    مشاهده بیشتر
    </div>
    </div>
    </div>
    <div class="col-md-1"></div>
    </div>*@
<div class="underline underline-dark" style="margin-top: 50px;margin-bottom: 50px;" id="SepratorBanners"></div>
@*-------------EndLine-------------*@
@*-------------carousel-------------*@
<div class="row mt-5">
    <h1 class="text-center mb-6" style="font-size: 2rem;">
        منتخب سردبیر
    </h1>
    <div class="col-md-12" style="padding-left: 0px;padding-right: 0px">
        @await Component.InvokeAsync("CarouselSelectedByAdmin")
    </div>
</div>
@*-------------Endcarousel-------------*@
@*-------------Line-------------*@
@*<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="row">
    <div class="col-md-1 d-flex justify-content-center align-items-center" style="border: 1px solid #ccc!important;border-radius: 20px;font-size: 13px;">
    آخرین اخبار
    </div>
    <div class="col-md-10">
    <hr />
    </div>
    <div class="col-md-1 d-flex justify-content-center align-items-center" style="border: 1px solid #ccc!important;border-radius: 20px;font-size: 11px;">
    مشاهده بیشتر
    </div>
    </div>
    </div>
    <div class="col-md-1"></div>
    </div>*@
<div class="underline underline-dark" style="margin-top: 70px;margin-bottom: 50px;"></div>
@*-------------EndLine-------------*@
<div class="row mt-4">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container pb-4" style="direction:ltr">
                            <h1 class="h1" id="pageHeaderTitle">دسته بندی اخبار</h1>
                            @await Component.InvokeAsync("CategoryForIndexPage")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <img src="~/assets/media/Home/Adv1.gif" class="GifAdv" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <img src="~/assets/media/Home/Adv2.gif" class="GifAdv" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <img src="~/assets/media/Home/Adv3.gif" class="GifAdv" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <img src="~/assets/media/Home/Adv1.gif" class="GifAdv" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <img src="~/assets/media/Home/Adv2.gif" class="GifAdv" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>


<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true" style="margin-left:50px">
    <i class="ki-duotone ki-arrow-up">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
</div>


@section Scripts{
    <script src="~/assets/OwlCarousel/owl.carousel.js"></script>

    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                rtl: true,
                loop: true,
                dotsEach: 2/true,
                margin: 10,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 2500,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1.5,
                        nav: true
                    },
                    600: {
                        items: 2.5,
                        nav: false
                    },
                    1100: {
                        items: 4.5,
                        nav: true,
                    }
                }
            })
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })

        $(".hover").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
        );
        $(".snip1493").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
        );
        $(".hover").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
        );
    </script>
}
@section css{
    <link rel="stylesheet" href="~/assets/css/Layoutcss/CategoriesCard.css?v=1" />
    <link rel="stylesheet" href="~/assets/css/Layoutcss/Banners.css?v=1" />
    <link rel="stylesheet" href="~/assets/css/Layoutcss/Cards.css?v=1" />
    <link href="~/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
}