@model Mag.Areas.Admin.Models.Dto.News.NewsCardDto


<div class="col-md-12">
    <div class="row">
        <div class="col-md-5 titleNews">
            @if (Model.ParentCategory == "سایر")
            {
                <p class="CategoryLink">@Model.ParentCategory</p>
            }
            else
            {
                <p><a href="/News/Category/@Model.ParentCategorySlug" class="CategoryLink">@Model.ParentCategory</a> </p>
            }
            <h1 class="TitleH1">
                @Model.Title
            </h1>
            <p class="NewsSummary">
                @Model.NewsSummary
            </p>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="symbol symbol-35px symbol-circle">
                        <img alt="Pic" src="~/@Model.UserImage">
                    </div>
                    <p class="Detalis">
                        نوشته شده توسط @Model.UserFullName | @Model.PublishNewsDatePersianDay @Model.PublishNewsDatePersianmonth @Model.PublishNewsDatePersianYear | @Model.PublishNewsDatePersianTime
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    @if (!User.Identity.IsAuthenticated)  
                    {
                        <div class="d-flex align-items-center">
                            <span id="NumberOfLike">@Model.CountOfLike</span>
                            <span class="likeSpan" id="kt_docs_sweetalert_state_warning_for_Like"><i class="fa-regular fa-heart text-danger"></i></span>
                        </div>
                    }
                    else
                    {
                        if (Model.LikeStatus == "" || Model.LikeStatus=="None") 
                        {
                            <div class="d-flex align-items-center">
                                <span id="NumberOfLike">@Model.CountOfLike</span>
                                <span class="likeSpan" onclick="LikeNewsOwnSelf()"><i class="fa-regular fa-heart text-danger" id="LikeHeart"></i></span>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <span id="NumberOfLike">@Model.CountOfLike</span>
                                <span class="likeSpan" onclick="NoneOwnSelf()"><i class="fa-solid fa-heart text-danger" id="LikeHeart"></i></span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-7 ShowNews text-center">
            <img src="~/@Model.IndexImageAddress" class="imgNews" />
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-md-7">
            <div class="textNews">
                @if (Model.DescriptionHtmlEditor != null)
                {

                    @Html.Raw(Model.DescriptionHtmlEditor)

                }
                else
                {
                    <div style="border-radius: 16px;border: 1px solid #ccc!important;padding: 15px 15px;min-height:100px">
                    </div>
                }
                @if (Model.VideoAddress != null)
                {
                    <div class="text-center">
                        <video controls class="NewsVideo">
                            <source src="~/@Model.VideoAddress" type="video/mp4">
                        </video>
                    </div>
                }
                @if (Model.Tags != null)
                {
                    <div class="mt-3">
                        @foreach (var item in Model.Tags)
                        {
                            <span class="SpanTag mx-1">
                                @item
                            </span>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2 ad">
            <div class="row">
                <div class="col-md-12">
                    <video src="~/assets/media/Home/a1.webm" class="VideoAdv" preload="none" loop="" muted="" autoplay="" playsinline="" __idm_id__="155650"></video>
                </div>
                <div class="col-md-12">
                    <video src="~/assets/media/Home/a3.webm" class="VideoAdv" preload="none" loop="" muted="" autoplay="" playsinline="" __idm_id__="155650"></video>
                </div>
                <div class="col-md-12">
                    <video src="~/assets/media/Home/a2.webm" class="VideoAdv" preload="none" loop="" muted="" autoplay="" playsinline="" __idm_id__="155650"></video>
                </div>
                <div class="col-md-12">
                    <video src="~/assets/media/Home/a4.webm" class="VideoAdv" preload="none" loop="" muted="" autoplay="" playsinline="" __idm_id__="155650"></video>
                </div>
                <div class="col-md-12">
                    <video src="~/assets/media/Home/a2.webm" class="VideoAdv" preload="none" loop="" muted="" autoplay="" playsinline="" __idm_id__="155650"></video>
                </div>

            </div>
        </div>
        <div class="col-md-3 ad">
            @await Component.InvokeAsync("TenNewNews")
            @await Component.InvokeAsync("TenNewNewsCategory",new { PId = Model.ParentCategoryId })
        </div>
    </div>
    <div class="row mt-5  d-flex justify-content-center">
        <div class="col-md-7 mb-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3 class="card-title">دیدگاه های موجود</h3>
                    <div class="card-toolbar">
                    </div>
                </div>
                <div class="card-body card-scroll h-400px">
                    @if (Model.Comments.Count == 0)
                    {
                        <p>دیدگاهی موجود نیست</p>
                    }
                    else
                    {
                        foreach (var item in Model.Comments)
                        {
                            <div class="CommentsInNews">
                                <p class="CommentsInNewsText">@item.CommentText</p>
                                <hr />
                                <div class="d-flex justify-content-between">
                                    <p class="CommentsInNewsDtl">@item.WriterName</p>
                                    <p class="CommentsInNewsDtl">@item.RegisterDatePersian</p>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="card shadow-sm pb-5">
                <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#kt_docs_card_collapsible">
                    <h3 class="card-title">ارسال دیدگاه</h3>
                    <div class="card-toolbar rotate-180">
                        <i class="ki-duotone ki-down fs-1"></i>
                    </div>
                </div>
                <div id="kt_docs_card_collapsible" class="collapse show">
                    <div class="card-body">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form action="/News/@Model.Slug" method="post">
                                <input type="hidden" asp-for="Id" name="Id" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pb-4">
                                            <label asp-for="CommentText" class="control-label pb-1" style="font-size:16px">متن دیدگاه</label>
                                            <textarea asp-for="CommentText" class="form-control" style="height:230px" id="textInput" oninput="updateCharacterCount()"></textarea>
                                            <span asp-validation-for="CommentText" class="text-danger"></span>
                                            <label id="charCountLabel">0 / 1000</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success mx-1">ثبت دیدگاه</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <h5 class="text-danger text-center font-weight-bolder">لطفا وارد شوید</h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
