@using Mag.Common
@model Mag.Areas.Admin.Models.Dto.News.NewsListDto

@{
    ViewData["Title"] = "جزییات خبر";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Colors = new string[]
                            {
                "warning","primary","info","success","danger","dark"
                            };
}
<br>

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">جزییات خبر (@Model.Title)</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-md-4 col-sm-6">
                <div class="form-group pb-4">
                    <label asp-for="Title" class="control-label pb-1" style="font-size:16px">عنوان خبر</label>
                    <input asp-for="Title" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="Slug" class="control-label pb-1" style="font-size:16px">لینک(نامک)</label>
                    <input asp-for="Slug" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="DescriptionSeo" class="control-label pb-1" style="font-size:16px">توضیحات سئو</label>
                    <input asp-for="DescriptionSeo" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="DraftTimePersain" class="control-label pb-1" style="font-size:16px">تاریخ پیش نویس خبر</label>
                    <input asp-for="DraftTimePersain" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                @*<div class="form-group pb-3">
                    <label asp-for="IsActive" class="control-label pb-1" style="font-size:16px">فعال بودن</label>
                    <p style="padding:8px 13px 8px 13px">@Model.IsActive</p>
                    </div>*@
                <div class="form-group pb-4">
                    <label asp-for="WriterId" class="control-label pb-1" style="font-size:16px">دسته های این خبر</label>
                    <input asp-for="WriterId" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="Categories" class="control-label pb-1" style="font-size:16px">دسته های این خبر</label>
                    <input asp-for="Categories" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="Tags" class="control-label pb-1" style="font-size:16px">تگ های این خبر</label>
                    <input asp-for="Tags" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="KeyWords" class="control-label pb-1" style="font-size:16px">کلمات کلیدی</label>
                    <input asp-for="KeyWords" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group pb-4">
                    <label asp-for="Status" class="control-label pb-1" style="font-size:16px">وضعیت خبر</label>
                    <input asp-for="Status" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="IndexImageAddressAlt" class="control-label pb-1" style="font-size:16px">Altعکس</label>
                    <input asp-for="IndexImageAddressAlt" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="IndexImageAddressTitle" class="control-label pb-1" style="font-size:16px">Titleعکس</label>
                    <input asp-for="IndexImageAddressTitle" class="form-control" readonly />
                </div>
                <div class="form-group pb-4">
                    <label asp-for="RegisterDatePersian" class="control-label pb-1" style="font-size:16px">تاریخ ثبت خبر</label>
                    <input asp-for="RegisterDatePersian" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="form-group pb-4">
                    <label asp-for="IndexImageAddress"  class="control-label pb-1" style="font-size:16px;display: block;">عکس خبر</label>
                    @if (Model.IndexImageAddress != null)
                    {
                    <div class="symbol symbol-100px">
                    <img src=~/@Model.IndexImageAddress alt="@Model.IndexImageAddressAlt" title="@Model.IndexImageAddressTitle" />
                    </div>
                    }
                    else
                    {
                    string fName = Model.Title.Substring(0, 1);
                    var sum = Utility.CalculateAsciiSum(Model.Title);
                    var Color = Convert.ToInt32(Math.Ceiling((double)sum % 6));
                    <div class="symbol symbol-100px">
                    <div class="symbol-label fs-2 fw-semibold bg-@Colors[Color] text-inverse-@Colors[Color]">@fName</div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                    <div class="form-group pb-4">
                    <label asp-for="VideoAddress"  class="control-label pb-1" style="font-size:16px;display: block;">ویدیو خبر</label>
                    @if (Model.VideoAddress != null)
                    {
                    <div class="symbol symbol-100px">
                    <video src=~/@Model.VideoAddress />
                    </div>
                    }
                    else
                    {
                    var sum = Utility.CalculateAsciiSum(Model.Slug);
                    var Color = Convert.ToInt32(Math.Ceiling((double)sum % 6));
                    <div class="symbol symbol-100px">
                    <div class="symbol-label fs-2 fw-semibold bg-@Colors[Color] text-inverse-@Colors[Color]">یافت نشد</div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-10">
                <div class="form-group pb-4">
                    <label asp-for="DescriptionHtmlEditor" class="control-label pb-1" style="font-size:16px">توضیحات(Html Editor)</label>
                    @if (Model.DescriptionHtmlEditor != null)
                    {
                        <div style="border-radius: 16px;border: 1px solid #ccc!important;padding: 15px 15px;min-height:100px">
                        @Html.Raw(Model.DescriptionHtmlEditor)
                        </div>
                    }
                    else{
                        <div style="border-radius: 16px;border: 1px solid #ccc!important;padding: 15px 15px;min-height:100px">
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @switch(ViewBag.StatusName) 
        {
          case "WaitingForConfirm":
            <a href="/Admin/News/WatingConfirmNews" style="font-size:18px">بازگشت به لیست</a>
            break;
          case "RejectedByAdmin":
            <a href="/Admin/News/RejectedNewses" style="font-size:18px">بازگشت به لیست</a>
            break;
          case "Draft":
            <a href="/Admin/News/DraftNewses" style="font-size:18px">بازگشت به لیست</a>
            break;
          case "Publish":
            <a href="/admin/News/Index" style="font-size:18px">بازگشت به لیست</a>
            break;
          case "Delete":
            <a href="/admin/News/DeletedNewses" style="font-size:18px">بازگشت به لیست</a>
            break;
        }
            
    </div>
</div>


