@model List<Mag.Areas.Admin.Models.Dto.News.NewsCardDto>

@foreach (var item in Model)
{
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <figure class="snip1493">
                    <div class="image"><img src="~/@item.IndexImageAddress" alt="@item.IndexImageAddressAlt" title="@item.IndexImageAddressTitle" /></div>
                    <figcaption>
                        <div class="date"><span class="day">@item.PublishNewsDatePersianDay</span><span class="month">@item.PublishNewsDatePersianmonth</span></div>
                        <h3>@item.Title</h3>
                        <p>

                            @item.NewsSummary
                        </p>
                        <footer>
                            <div class="love">623<i class="fa-solid fa-heart text-danger"></i></div>
                            <div class="comments">23<i class="fa-solid fa-comment text-info"></i></div>
                        </footer>
                    </figcaption>
                    <a href="/News/@item.Slug"></a>
                </figure>
            </div>
        </div>
    </div>
}


